/*========================================*/
//  Big SCSS Comment
//  
//  Put your notes here.
//  
/*========================================*/

/* ========================== */
/* ===== Index/Home Page ===== */
/* ========================== */
.indexPage{}

/* ===================== */
/* ===== About Page ===== */
/* ===================== */
.aboutPage{}

/* ======================= */
/* ===== Contact Page ===== */
/* ======================= */
.contactPage{}

/* ====================== */
/* ===== Posts Pages ===== */
/* ====================== */
.postPage{}